<h1>Create new Category</h1>
<hr>

<h2>Registration form</h2>

<div class="card">
  <div class="card-body">
    <form method="post" action="/admin/categories/create">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug">
      </div>
      <button type="submit" class="btn btn-dark">CREATE CATEGORY</button><br>
    </form>
  </div>
</div>

<!-- validações da rota -->
{{#each erros}}
  <div class="alert alert-danger mt-3">{{texto}}</div>
{{else}}

{{/each}}

