<h1>ADMIN - Página administradora da aplicação</h1>
<hr>

<h3>Rotas</h3>
<nav>
    <ul>
        <li>categorias</li>
        <li>categorias-cadastrar</li>
        <li>categorias-atualizar</li>
        <li>categorias-deletar</li>
    </ul>
</nav>