<h1>Atualizar categoria</h1>
<hr>

<form action='/admin/category-update' method="post">
    
    <input type="hidden" name="id" value={{categoria._id}}>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Novo nome para categoria" value={{categoria.nome}}>
    </div>

    <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" placeholder="Novo slug para categoria" value={{categoria.slug}}>
    </div>

    <p style='color: rgb(150, 150, 60)'>Tem certeza que gostaria de editar essa categoria?</p>
    <button type="submit" class="btn btn-warning">ATUALIZAR CATEGORIA</button><br>

</form>