<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 70%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    },
    button {
        margin-right: 10px;
    }
</style>


<h1>List of category</h1>
<hr>

<a href="/admin/categories/create" class="btn btn-dark">NOVA CATEGORIA</a>

<table class="table">
  <tr>
    <th>Name da categoria</th>
    <th>Slug da categoria</th>
  </tr>

  {{#each categories}}
    <tr>
      <td>{{name}}</td>
      <td>{{slug}}</td>
      <td>
          <a href="" class="btn btn-warning">ATUALIZAR</a>
          <a href="" class="btn btn-danger">DELETAR</a>
      </td>
    </tr>
  {{else}}
  {{/each}}
</table>