<style>
    input {
        width: 400px;
    }
    button {
        width: 410px;
    }
</style>

<h1>Login Form</h1>
<hr>

<form action="/users/login" method="post">
    <div>
        <label for="login">Login</label><br>
        <input type="email" name="email"><br><br>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>
    </div>
    <div>
        <button>LOGIN</button>
    </div>
</form>