<style>
    input {
        width: 400px;
    }
    button {
        width: 410px;
    }
</style>

<h1>Registration Form</h1>
<hr>

<form action="/users/register" method="post">    
    <div>
        <label for="username">User Name</label><br>
        <input type="text" name="username"><br><br>
    </div> 

    <div>
        <label for="email">Email</label><br>
        <input type="email" name="email"><br><br>
    </div>

    <div>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>
    </div>

    <div>
        <label for="confirmpassword">Confirm Password</label><br>
        <input type="password" name="confirmpassword"><br><br>
    </div>

    <div>
        <button>REGISTER</button>
    </div>
</form>