<div class="container">
    <h1>Items in this category</h1>

    <div class="row mt-4">
        {{#each products}}  
            <div class="card" style="width: 13.8759rem;">
                <img class="card-img-top" src="/img/not.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: $10</li>
                </ul>
                <div class="card-footer">
                    <a href="#" class="card-link">Buy now </a>
                    <a href="#" class="card-link">Add to cart</a>
                </div>
            </div> 
        {{else}}
            <div>No products in this category registered. Please register a product</div>
        {{/each}}
    </div>
</div>