<h1>HOME PAGE - Main page</h1>

<div class="row">
  <div class="col-9">
        <hr>
      <p>Aplicação node com express, template engine express-handlebars, ODM mongoose, express--session e flash</p>
  </div>

  <div class="col-3">
      <hr>
      <h4>Coluna das ultimas postagens</h4>
  </div>
</div>

