<h1>HOME - Página principal da aplicação</h1>
<hr>

<h1>Criar o projeto com npm</h1>
<p>Criar o servidor com express</p>

<h1>Rotas</h1>
<p>Criar as roatas com express</p>

<h1>Views</h1>
<p>Criar as views com template engine express-handlebars</p>

<h1>Models</h1>
<p>Criar as models com ODM mongoose</p>

<h1>Arquivos staticos</h1>
<p>Configurando arquivos staticos</p>

<h1>Configurar as sessões</h1>
<p>Instalar e importar o express-session e o connect-flash</p>
<p>Configurar um middleware para as validações, com duas variáveis globais (erro e sucesso)</p>