<table class="table table-dark table-hover mt-3">
    <thead>
        <tr>
          <th scope="col">Selecione a categoria</th>
        </tr>
    </thead>      
    <tbody>
        {{#each categories}}
            <tr>
                <td><a href="/categories/{{_id}}">{{name}}</a></td>
            </tr>
        {{else}}
        {{/each}}        
    </tbody>
</table> 